.header{

    display: flex;
    justify-content: space-around;
  }
  
  .container{
    /* margin-top: 20px; */
    padding: 10px;
  
    border: #ff0000 solid 1px;
    margin: 20px;
    border-radius: 5px;
    display: inline;
  
  }