.list-ques >ul {
    margin-top: 16px;

    display: grid;
    grid-template-columns: repeat(6,1fr);
    row-gap: 8px;
}
*{
    list-style: none;
}
.list-ques{
    width: 100%;
    padding: 16px;
    border-radius: 16px;
    border: 1px solid #eee;
}
.active {
    color: red;
}
.gro-btn>.btn{

    background-color: white;
    border-radius: 8px;
    border-color: rgb(55, 55, 247);
    border-width: 3px;
    line-height: 32px;
    padding: 0 16px;
    margin: 8px;
}
.gro-btn>.final{
    border-color: rgb(228, 46, 46);
    color: rgb(228, 46, 46);

}